In [1]:
import pandas as pd
cont1 = ['USA','India', 'UK']

In [ ]:
pd.Series(cont1)

0      USA
1    India
2       UK
dtype: object

In [3]:
import numpy as np
arr=np.random.randint(10,100,size=(6,4))

In [6]:
df=pd.DataFrame(data=arr, dtype=float, columns=['a','b','c','d'])

In [7]:
df

      a     b     c     d
0  33.0  81.0  92.0  16.0
1  21.0  72.0  39.0  26.0
2  25.0  68.0  35.0  52.0
3  67.0  54.0  59.0  42.0
4  94.0  82.0  14.0  31.0
5  91.0  26.0  99.0  47.0