In [2]:
t = (9, 3, 1)
t[0] * 2 + t[-1] *6 + t[2]

25

In [1]:
ac = "John"
df = 30

print(f"My name is {ac} and I am {df} years old.")

My name is John and I am 30 years old.

In [3]:
print("hello".find('o'))
print("hello".index('l'))

4
2

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5]
print(sorted(numbers))

[1, 2, 3, 4, 5, 7, 8, 9, 10]